{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur mon blog</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magni laborum amet accusamus eius tenetur quam
    eveniet animi a corrupti! Iste, unde dolorem. Laborum voluptatum, corporis debitis ab et consectetur
    delectus saepe architecto eligendi, iure atque quod omnis natus quasi!
</p>
<p>
    Amet in corporis nostrum voluptas ut quaerat expedita reiciendis ducimus eos. Nobis, laboriosam pariatur
    reprehenderit blanditiis, ab laborum alias odit officiis perspiciatis magni illum consequatur hic excepturi
    quos repudiandae laudantium. Est deleniti officiis amet esse pariatur rem dolorem incidunt voluptate?
</p>

{% endblock body %}