{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">ecrit aujourd'hui à 1h30</div>
    <div class="contains">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi atque voluptates possimus in nobis delectus?
        </p>
        <p>Fugit, excepturi officia perferendis quo facilis qui hic, voluptates vitae accusamus aspernatur sint
            provident suscipit!</p>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga rem possimus eum delectus magnam vitae fugiat
            at blanditiis culpa, quia debitis, aspernatur voluptatibus repudiandae! A officia labore repellat sed, natus
            at doloremque quae expedita commodi alias eius animi quasi iure voluptate repellendus veniam laudantium
            voluptatem nihil ad nemo neque consectetur.</p>
        <p>Obcaecati, eos a! Dolores, accusamus quas atque distinctio magnam, vitae nisi corporis obcaecati cupiditate
            ullam tenetur laborum dolorem reiciendis neque minima dolore sunt ipsum fuga rerum ea vel ducimus modi
            voluptate alias. Tempora veniam error dolorem rerum illum distinctio voluptate maxime, sint iure velit,
            facere, quam voluptates doloribus explicabo inventore.</p>
    </div>
</article>
{% endblock %}